.LandingPage{
    overflow: hidden !important;
}

.Title {
    position: relative;
    bottom: 8vh;
}

.SignInSignUpBox {
    width: 25vw;
    height: 60vh;
    background: linear-gradient(-45deg, #ff0000, #ff1177, #790086, #23d5ab);

    /* Original Rainbow */
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
    -webkit-animation: gradient 10s ease infinite;
    -moz-animation: gradient 10s ease infinite;

    position: relative;
    bottom: 12vh;

    overflow: hidden;

    border-radius: 10px;
}

.SignIn {
    padding: 1vw;
}

b {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

p:nth-child(1) b {
    color: rgb(255, 255, 255);
    -webkit-animation: neon 2s ease-in-out infinite alternate;
    -moz-animation: neon 2s ease-in-out infinite alternate;
    animation: neon 2s ease-in-out infinite alternate;
}

.SignUpButton {
    position: relative;
    bottom: 18vh;
}

.EmailError {
    opacity: 1;
    animation: fadeInAndOut 3.0s;
    -webkit-animation: fadeInAndOut 3.0s;
    -moz-animation: fadeInAndOut 3.0s;

    color: black;

    position: relative;
    top: 1.5vh
}

.PasswordError {
    opacity: 1;
    animation: fadeInAndOut 3.0s;
    -webkit-animation: fadeInAndOut 3.0s;
    -moz-animation: fadeInAndOut 3.0s;

    color: black;

    position: relative;
    top: 1.5vh
}

.NoInformation {
    opacity: 1;
    animation: fadeInAndOut 3.0s;
    -webkit-animation: fadeInAndOut 3.0s;
    -moz-animation: fadeInAndOut 3.0s;

    color: black;

    position: relative;
    top: 1.5vh;

    font-size: 36px !important;
}

.NoEmail {
    opacity: 1;
    animation: fadeInAndOut 3.0s;
    -webkit-animation: fadeInAndOut 3.0s;
    -moz-animation: fadeInAndOut 3.0s;

    color: black;

    position: relative;
    top: 1.5vh;
}

.NoPassword {
    opacity: 1;
    animation: fadeInAndOut 3.0s;
    -webkit-animation: fadeInAndOut 3.0s;
    -moz-animation: fadeInAndOut 3.0s;

    color: black;

    position: relative;
    top: 1.5vh;

    font-size: 36px !important;
}

.SignUpPasswordMatch {
    opacity: 1;
    animation: fadeInAndOut 3.0s;
    -webkit-animation: fadeInAndOut 3.0s;
    -moz-animation: fadeInAndOut 3.0s;

    color: white;
    background-color: black;

    position: relative;
    bottom: 2vh;

    font-size: 36px !important;
}

.SignUpEmailExist {
    opacity: 1;
    animation: fadeInAndOut 3.0s;
    -webkit-animation: fadeInAndOut 3.0s;
    -moz-animation: fadeInAndOut 3.0s;

    color: white;
    background-color: black;

    position: relative;
    bottom: 2vh;

    font-size: 36px !important;
}

.SignUpUsernameExist {
    opacity: 1;
    animation: fadeInAndOut 3.0s;
    -webkit-animation: fadeInAndOut 3.0s;
    -moz-animation: fadeInAndOut 3.0s;

    color: white;
    background-color: black;

    position: relative;
    bottom: 2vh;

    font-size: 36px !important;
}

.SignUpNoEmail {
    opacity: 1;
    animation: fadeInAndOut 3.0s;
    -webkit-animation: fadeInAndOut 3.0s;
    -moz-animation: fadeInAndOut 3.0s;

    color: white;
    background-color: black;

    position: relative;
    bottom: 2vh;

    font-size: 36px !important;
}

.SignUpNoUsername {
    opacity: 1;
    animation: fadeInAndOut 3.0s;
    -webkit-animation: fadeInAndOut 3.0s;
    -moz-animation: fadeInAndOut 3.0s;

    color: white;
    background-color: black;

    position: relative;
    bottom: 2vh;

    font-size: 36px !important;
}

.AccountCreated {
    opacity: 1;
    animation: fadeInAndOut 3.0s;
    -webkit-animation: fadeInAndOut 3.0s;
    -moz-animation: fadeInAndOut 3.0s;

    color: white;
    background-color: black;

    position: relative;
    bottom: 2vh;

    font-size: 36px !important;
}

/*glow for webkit*/
@-webkit-keyframes neon {
    from {
        text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px rgb(0, 0, 0), 0 0 30px rgbrgb(0, 0, 0) 0 40px #ff1177,
            0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
    }

    to {
        text-shadow: 0 0 5px rgb(255, 221, 221), 0 0 10px rgb(255, 221, 221), 0 0 15px rgb(255, 251, 0), 0 0 20px #ff1177,
            0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
    }
}

/*glow for mozilla*/
@-moz-keyframes neon {
    from {
        text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px rgb(0, 0, 0), 0 0 30px rgbrgb(0, 0, 0) 0 40px #ff1177,
            0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
    }

    to {
        text-shadow: 0 0 5px rgb(255, 221, 221), 0 0 10px rgb(255, 221, 221), 0 0 15px rgb(255, 251, 0), 0 0 20px #ff1177,
            0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
    }
}

/*glow*/
@keyframes neon {
    from {
        text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px rgb(0, 0, 0), 0 0 30px rgbrgb(0, 0, 0) 0 40px #ff1177,
            0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
    }

    to {
        text-shadow: 0 0 5px rgb(255, 221, 221), 0 0 10px rgb(255, 221, 221), 0 0 15px rgb(255, 251, 0), 0 0 20px #ff1177,
            0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
    }
}

/* Signin/signup Box animation */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadeInAndOut {
    0% {
        display: none;
        opacity: 0;
        /* left: 0vw */
    }

    1% {
        display: block;
        opacity: 0;
        /* right: 100vw; */
    }

    70% {
        display: block;
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
        /* left: 32vw */
    }
}

@-webkit-keyframes fadeInAndOut {
    0% {
        display: none;
        opacity: 0;
        /* left: 0vw */
    }

    1% {
        display: block;
        opacity: 0;
        /* right: 100vw; */
    }

    70% {
        display: block;
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
        /* left: 32vw */
    }
}

@-moz-keyframes fadeInAndOut {
    0% {
        display: none;
        opacity: 0;
        /* left: 0vw */
    }

    1% {
        display: block;
        opacity: 0;
        /* right: 100vw; */
    }

    70% {
        display: block;
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
        /* left: 32vw */
    }
}
