.LandingPage{
    overflow: hidden;
}

.Title {
    color: #473DA4;
    padding-top: 10vh;
    font-size: 72px;
    letter-spacing: 6px;
}

.SignInSignUpBox {
    width: 25vw;
    height: 60vh;
    background-color: #CED2C6;
}

.SignIn {
    padding: 1vw;
}