.LandingPage{
    overflow: hidden;
}

.Title {
    color: #473DA4;
    padding-top: 10vh;
    font-size: 72px;
    letter-spacing: 6px;
}

.SignInSignUpBox {
    width: 25vw;
    height: 60vh;
    background-color: #CED2C6;
}

.SignIn {
    padding: 1vw;
}

#container {
    width: 500px;
    margin: auto;
}

/*Neon*/
p {
    text-align: center;
    font-size: 7em;
    margin: 20px 0 20px 0;
}

b {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

p:nth-child(1) b {
    color: rgb(255, 255, 255);
    font-family: Monoton;
    -webkit-animation: neon 1.5s ease-in-out infinite alternate;
    -moz-animation: neon 1.5s ease-in-out infinite alternate;
    animation: neon 1.5s ease-in-out infinite alternate;
}

/*glow for webkit*/

@-webkit-keyframes neon {
    from {
        text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px rgb(0, 0, 0), 0 0 30px rgbrgb(0, 0, 0) 0 40px #ff1177,
            0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
    }

    to {
        text-shadow: 0 0 5px rgb(255, 221, 221), 0 0 10px rgb(255, 221, 221), 0 0 15px rgb(255, 251, 0), 0 0 20px #ff1177,
            0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
    }
}

/*glow for mozilla*/

@-moz-keyframes neon {
    from {
        text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px rgb(0, 0, 0), 0 0 30px rgbrgb(0, 0, 0) 0 40px #ff1177,
            0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
    }

    to {
        text-shadow: 0 0 5px rgb(255, 221, 221), 0 0 10px rgb(255, 221, 221), 0 0 15px rgb(255, 251, 0), 0 0 20px #ff1177,
            0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
    }
}

/*glow*/

@keyframes neon {
    from {
        text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px rgb(0, 0, 0), 0 0 30px rgbrgb(0, 0, 0) 0 40px #ff1177,
            0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
    }

    to {
        text-shadow: 0 0 5px rgb(255, 221, 221), 0 0 10px rgb(255, 221, 221), 0 0 15px rgb(255, 251, 0), 0 0 20px #ff1177,
            0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
    }
}
