.Navbar {
    /* position: relative; */
    /* top: 10vh !important; */
    max-height: 6vh !important;
    min-height: 6vh !important;
    z-index: 0 !important;
    /* height: 10vh !important; */
    overflow: hidden !important;
}

.Welcome {
    color: white;
    /* overflow: hidden !important; */
}

.WelcomeAnimation {
    color: white;
    /* display: inline; */
    font-size: 100px;
    padding-left: 1vw;
    padding-right: 1vw;
    position: relative;
    top: 3vh;
    overflow: hidden;
    /* max-width: 5vw !important; */
}

.Welcome0 {
    color: white;
    font-size: 72px;
    position: absolute;
    top: -2vh;
    right: 65vw;
    z-index: 1 !important;
}

.Welcome1 {
    color: white;
    font-size: 72px;
    position: absolute;
    top: -2vh;
    right: 60vw
}

.Welcome2 {
    color: white;
    font-size: 72px;
    position: absolute;
    top: -2vh;
    right: 55vw
}

.Welcome3 {
    color: white;
    font-size: 72px;
    position: absolute;
    top: -2vh;
    right: 50vw
}

.Welcome4 {
    color: white;
    font-size: 72px;
    position: absolute;
    top: -2vh;
    right: 45vw
}

.Welcome5 {
    color: white;
    font-size: 72px;
    position: absolute;
    top: -2vh;
    right: 40vw
}

.Welcome6 {
    color: white;
    font-size: 72px;
    position: absolute;
    top: -2vh;
    right: 35vw
}