.UserChoiceBar {
    background-color: #272726;
    width: 100vw;
    height: 3vh;

    /* margin-top: 1vh !important; */
    border-top: 1px solid #42403f !important;
    border-bottom: 1px solid #42403f !important;

    /* position: relative;
    left: 25vw; */
}

.UserPostButton {
    position: relative;
    left: 50vw;
    width: 3.5vw !important;
    top: .15vh;
}

.UserPostButton:hover {
    background-color: #302e2e !important;
}

.PublishedPostDiv {
    margin-top: 2vh;
    background-color: #201E1D;

    height: auto;
    width: 90vw;

    position: relative;
    left: 2vw;

    border: 1px solid #42403f !important;
}

.EachPublishedPostDiv {
    border: 1px solid #42403f !important;
    height: 10vh;
}

.EachPublishedPostDiv:hover {
    border: 1px solid rgb(109, 109, 109) !important;
}

.UsersPublishedPostsImage {
    width: 4.5vw !important;
    height: 8vh !important;
    border-radius: 15px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: .5vw;
}

.UsersPublishedPostsSideColumn {
    /* padding-right: 0 !important;
    padding-left: 0 !important; */
    background-color: rgba(128, 128, 128, 0.048);
    /* border-style: solid; */
    border-color: rgb(158, 158, 158);
    /* border-radius: 20% 0% 0% 20%; */
    border-top-left-radius: .2vw;
    border-bottom-left-radius: .2vw;
}

.UserPublishedPostSideUpvoteDownvoteBar {
    height: auto;
    width: 2.5vw;
    /* background-color: gray; */
    /* position: relative;
    bottom: .1vh;
    left: .725vw; */
    border-radius: 20% 0% 0% 20%;
    /* overflow: hidden; */
    align-items: center;
    position: relative;
    left: 1.4vw;
    top: 1vh;
}

.UsersPublishedPostsTitle {
    font-size: 18px;
    position: relative;
    top: .5vh;
    left: 1.5vw;
}