.UserChoiceBar {
    background-color: #272726;
    width: 100vw;
    height: 3vh;

    /* margin-top: 1vh !important; */
    border-top: 1px solid #42403f !important;
    border-bottom: 1px solid #42403f !important;

    /* position: relative;
    left: 25vw; */
    cursor: pointer;
}

.UserPostButton {
    position: relative;
    left: 50vw;
    width: 3.5vw !important;
    top: .15vh;
}

.UserPostButton:hover {
    background-color: #302e2e !important;
}

.PublishedPostDiv {
    margin-top: 2vh;
    background-color: #201E1D;

    height: auto;
    width: 90vw;

    position: relative;
    left: 2vw;

    border: 1px solid #42403f !important;
}

.EachPublishedPostDiv {
    border: 1px solid #42403f !important;
    height: 10vh;
}

.EachPublishedPostDiv:hover {
    border: 1px solid rgb(109, 109, 109) !important;
}

.UsersPublishedPostsImage {
    width: 4.5vw !important;
    height: 8vh !important;
    border-radius: 15px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: .5vw;
}

.UsersPublishedPostsSideColumn {
    /* padding-right: 0 !important;
    padding-left: 0 !important; */
    background-color: rgba(128, 128, 128, 0.048);
    /* border-style: solid; */
    border-color: rgb(158, 158, 158);
    /* border-radius: 20% 0% 0% 20%; */
    border-top-left-radius: .2vw;
    border-bottom-left-radius: .2vw;
}

.UserPublishedPostSideUpvoteDownvoteBar {
    height: auto;
    width: 2.5vw;
    /* background-color: gray; */
    /* position: relative;
    bottom: .1vh;
    left: .725vw; */
    border-radius: 20% 0% 0% 20%;
    /* overflow: hidden; */
    align-items: center;
    position: relative;
    left: 1.4vw;
    top: 1vh;
}

.UsersPublishedPostsTitle {
    font-size: 18px;
    position: relative;
    top: .5vh;
    left: 1.5vw;
}

.UsersPublishedPostsCategory {
    font-size: 12px;
    position: relative;
    left: 1.5vw;
    top: 1vh
}

.UsersPublishedPostsPostedBy {
    font-size: 12px;
    position: relative;
    left: 1.75vw;
    top: 1vh
}

.UsersPublishedPostsTime {
    font-size: 12px;
    position: relative;
    left: 2.5vw;
    top: 1vh;
}

.UsersPublishedPostsCommentButton {
    position: relative;
    max-width: 6vw;
    min-width: 6vw;
    min-height: 2.5vh;
    max-height: 2.5vh;
    top: .75vh;
    left: 1.55vw;
}

.UsersPublishedPostsCommentButton:hover {
    background-color: #383838;
}

.UsersPublishedPostsShareButtonDiv {
    position: relative;
    max-width: 6vw;
    min-width: 6vw;
    min-height: 2.5vh;
    max-height: 2.5vh;
    top: .75vh;
    left: 1.55vw;
}

.UsersPublishedPostsShareButtonDiv:hover {
    background-color: #383838;
}

.UsersPublishedPostsShareButtonText {
    font-size: 12px;

    position: relative;
    top: .35vh
}


.DeleteButton {
    position: relative;
    max-width: 6vw;
    min-width: 6vw;
    min-height: 2.5vh;
    max-height: 2.5vh;
    top: .75vh;
    left: 1.55vw;
}

.DeleteButtonText {
    font-size: 12px;

    position: relative;
    top: .5vh;
}

.DeleteButton:hover {
    background-color: #383838;
}

.EditButton {
    position: relative;
    max-width: 6vw;
    min-width: 6vw;
    min-height: 2.5vh;
    max-height: 2.5vh;
    top: .75vh;
    left: 1.55vw;
}

.EditButtonText {
    font-size: 12px;

    position: relative;
    top: .5vh;
}

.EditButton:hover {
    background-color: #383838;
}

.UsersButtonsRow {
    position: relative;
    bottom: 3.5vh;
    left: 11.5vw;
    cursor: pointer;

    color: white;
}

 .loader {
     top: 50%;
     left: 50%;
     width: 100px;
     height: 100px;
     margin: 50px;
     position: absolute;
     transform: translate(-50%, -50%);
 }

 .loader .circle {
     width: 50px;
     height: 50px;
     display: block;
     position: absolute;
     transform-origin: 50% 50%;
     animation: rotating 2s ease-in-out infinite;
 }

 .loader .circle:after {
     content: '';
     top: 0;
     left: 0;
     width: 10px;
     height: 10px;
     display: block;
     border-radius: 50%;
     position: absolute;
     transform: translate(-50%, -50%);
     background-color: #fc0;
 }

 .loader .circle.delay-1 {
     animation-delay: 0.125s;
 }

 .loader .circle.size-1:after {
     width: 11px;
     height: 11px;
 }

 .loader .circle.delay-2 {
     animation-delay: 0.25s;
 }

 .loader .circle.size-2:after {
     width: 12px;
     height: 12px;
 }

 .loader .circle.delay-3 {
     animation-delay: 0.375s;
 }

 .loader .circle.size-3:after {
     width: 13px;
     height: 13px;
 }

 .loader .circle.delay-4 {
     animation-delay: 0.5s;
 }

 .loader .circle.size-4:after {
     width: 14px;
     height: 14px;
 }

 .loader .circle.delay-5 {
     animation-delay: 0.625s;
 }

 .loader .circle.size-5:after {
     width: 15px;
     height: 15px;
 }

 .loader .circle.delay-6 {
     animation-delay: 0.75s;
 }

 .loader .circle.size-6:after {
     width: 16px;
     height: 16px;
 }

 .loader .circle.delay-7 {
     animation-delay: 0.875s;
 }

 .loader .circle.size-7:after {
     width: 17px;
     height: 17px;
 }

 .loader .circle.delay-8 {
     animation-delay: 1s;
 }

 .loader .circle.size-8:after {
     width: 18px;
     height: 18px;
 }

 .loader .circle.delay-9 {
     animation-delay: 1.125s;
 }

 .loader .circle.size-9:after {
     width: 19px;
     height: 19px;
 }

 .loader .circle.delay-10 {
     animation-delay: 1.25s;
 }

 .loader .circle.size-10:after {
     width: 20px;
     height: 20px;
 }

 .loader .circle.delay-11 {
     animation-delay: 1.375s;
 }

 .loader .circle.size-11:after {
     width: 21px;
     height: 21px;
 }

 .loader .circle.delay-12 {
     animation-delay: 1.5s;
 }

 .loader .circle.size-12:after {
     width: 22px;
     height: 22px;
 }

 @keyframes rotating {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(360deg);
     }
 }