.PostDetailPage {
    height: 100vh;
    width: 100vw;
    color: white;
}

.PostDetailFeed {
    position: relative;
    height: 60.5vh !important;
    width: 65vw !important;
    margin-top: 5vh;
    left: 17.5vw;
    background-color: #201E1D;
}

.PostDetailSideUpvoteDownvoteBar {
     padding-right: 0 !important;
     padding-left: 0 !important;
     background-color: rgba(128, 128, 128, 0.048);
     /* border-style: solid; */
     border-color: rgb(158, 158, 158);
     /* border-radius: 20% 0% 0% 20%; */
     border-top-left-radius: .2vw;
     border-bottom-left-radius: .2vw;
     /* position: relative; */
     /* right: 2.75vw; */
}

.PostDetailCardCategory {
    font-size: 14px;
    position: relative;
    left: 1.5vw;
    padding-top: 1vh;
}

.PostDetailCardPostedBy {
    font-size: 12px;
    position: relative;
    left: 1.75vw;
    top: 1.3vh
}

.PostDetailTime {
    font-size: 12px;
    position: relative;
    left: 2.5vw;
    top: 1.3vh;
}

.PostDetailCardTitle {
    font-size: 24px;
    position: relative;
}

.PostDetailCardImage {
     position: relative;
}

.DetailPostImage {
    max-width: 50vw !important;
    max-height: 50vh !important;
}

.PostDetailsSideBar {
    height: 62vh;
    width: 2.5vw;
    /* background-color: gray; */
    position: relative;
    bottom: .1vh;
    left: 1.1vw !important;
    border-radius: 20% 0% 0% 20%;
    /* overflow: hidden; */
    align-items: center;
    position: relative;
    left: .35vw;
    top: 1vh
}

.CommentFeed {
    position: relative;
    height: 60.5vh !important;
    width: 65vw !important;
    /* margin-top: 5vh; */
    /* left: 17.5vw; */
    background-color: #201E1D;
}

.CommentBox {
    width: 60vw !important;
    border: 1px solid white;
    margin-top: .5vh;
}

.CommentPostedBy {
    position: relative;
    /* right: 25vw !important; */
}

.CommentContent {
    margin-top: 1vh;
    position: relative;
    right: 25vw !important;
}