.SubmitPage {
    color: white;
    width: 50vw;
    margin-top: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    
    position: relative;
    left: 25vw;

    /* Used for testing purposes */
    /* background-color: red;  */
}

.SubmitInputBars {
    width: 40vw;

    position: relative;
    left: 5vw;
}

.PostContainer {
    border-bottom: 1px solid #272726
}

.PostChoiceBar {
    padding-top: 1vh;
    width: 50vw !important;
    height: 5vh !important;
}

.PostNoImage {
    border-top-left-radius: 5px;
    width: 16.67vw !important;
    height: 5vh !important;
    background-color: #201E1D;
    border-right: 1px solid #42403f !important;
    border-bottom: 1px solid #42403f !important;
}

.PostNoImageClicked {
    border-top-left-radius: 5px;
    width: 16.67vw !important;
    height: 5vh !important;
    background-color: #201E1D;
    border-right: 1px solid #42403f !important;
    border-bottom: 2px solid white !important;
}

.PostNoImage:hover {
    background-color: #272525;
}

.PostNoImage:active {
    border-bottom: 2px solid white !important;
}

.PostNoImageText {
    padding-top: .75vh !important;
}

.PostWithImage {
    width: 16.67vw !important;
    height: 5vh !important;
    background-color: #201E1D;
    border-right: 1px solid #42403f !important;
    border-bottom: 1px solid #42403f !important;
}

.PostWithImageClicked {
    width: 16.67vw !important;
    height: 5vh !important;
    background-color: #201E1D;
    border-right: 1px solid #42403f !important;
    border-bottom: 2px solid white !important;
}

.PostWithImage:hover {
    background-color: #272525;
}

.PostWithImage:active {
    border-bottom: 2px solid white !important;
}

.PostWithImageText {
    padding-top: .75vh !important;
}

.LinkPost {
    width: 16.67vw !important;
    height: 5vh !important;
    background-color: #201E1D;
    border-right: 1px solid #42403f !important;
    border-bottom: 1px solid #42403f !important;
}

.LinkPostClicked {
    width: 16.67vw !important;
    height: 5vh !important;
    background-color: #201E1D;
    border-right: 1px solid #42403f !important;
    border-bottom: 2px solid white !important;
}

.LinkPost:hover {
    background-color: #272525;
}

.LinkPost:active {
    border-bottom: 2px solid white !important;
}

.LinkPostText {
    padding-top: .75vh !important;
}

.TextPost {
    background-color: #201E1D;
    width: 50vw !important;
    height: 50vh !important;
}

.TitleBar {
    padding-top: 1vh !important;
    padding-left: 1vw !important;
    padding-right: 1vw !important;
}

.CategoryBar {
    padding-top: 1vh !important;
    padding-left: 1vw !important;
    padding-right: 1vw !important;
}

.ContentBar {
    padding-top: 1vh !important;
    padding-left: 1vw !important;
    padding-right: 1vw !important;
}

.SaveDraftButton {
    background-color: black !important;
    border: 1px solid grey !important;
    color: white !important
}

.SaveDraftButton:hover {
    background-color: #272525 !important;
}
