.SubmitPage {
    color: white;
    width: 50vw;
    padding-top: 5vh;
    
    position: relative;
    left: 25vw;

    /* Used for testing purposes */
    background-color: red; 
}

.SubmitInputBars {
    width: 40vw;

    position: relative;
    left: 5vw;
}
