.Feed {
    /* background-color: black; */
    height: 89vh;
    width: 45vw;
    margin-top: 5vh;
    position: relative;
    left: 27.5vw
}

.Card {
    color: white;
    width: 40vw;
    height: auto;
    background-color: #201E1D;
    position: relative;
    top: 2vh;
    left: 2.5vw;
    border-radius: 1%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(65, 65, 65);
    margin-bottom: 2vh;
}

.Card:hover {
     border-style: solid;
     border-color: rgb(109, 109, 109);
}

.CardTitle {
    font-size: 24px;
    position: relative;
    bottom: 1.5vh;
}

.CardCaregory {
    font-size: 14px;
    position: relative;
    left: 1.5vw;
}

.CardPostedBy {
    font-size: 12px;
    position: relative;
    left: 1.75vw;
    top: .3vh
}

.CardPostImage {
    position: relative;
    bottom: 1vh
}

.PostImage {
    max-width: 35vw !important;
    max-height: 35vh !important;
}

.Time {
    font-size: 12px;
    position: relative;
    left: 2.5vw;
    top: .1vh;
}

.CommentButton {
    position: relative;
    max-width: 6vw;
    min-width: 6vw;
    min-height: 2.5vh;
    max-height: 2.5vh;
    bottom: .5vh;
    left: 1.55vw;
}

.CommentButton:hover {
    background-color: #383838;
}

.CommentImage {
    position: relative;
    width: .75vw;
    height: 1.5vh;
    top: .5vh;
    left: 1vw;
}

.CommentCount {
    font-size: 12px;
    position: relative;
    left: 1.5vw;
    top: .5vh;
}

.SideUpvoteDownvoteBar {
    height: auto;
    width: 2.5vw;
    /* background-color: gray; */
    /* position: relative;
    bottom: .1vh;
    left: .725vw; */
    border-radius: 20% 0% 0% 20%;
    /* overflow: hidden; */
    align-items: center;
    position: relative;
    left: .35vw;
    top: 1vh
}

.SideColumn {
    padding-right: 0 !important;
    padding-left: 0 !important;
    background-color: rgba(128, 128, 128, 0.048);
    /* border-style: solid; */
    border-color: rgb(158, 158, 158);
    /* border-radius: 20% 0% 0% 20%; */
    border-top-left-radius: .2vw;
    border-bottom-left-radius: .2vw;
}

.MainCardColumn {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.UpvoteCount {
    font-size: 12px
}

.PostInformation {
    position: relative;
    /* right: 1.5vw; */
}

.UpvoteDiv {
    border-top-right-radius: 2vw;
    border-top-left-radius: 2vw;
    width: 1vw;
    height: 3vh;
    position: relative;
    /* left: .8vw; */
    /* background-color: red */
}

.UpvoteIcon {
    position: relative;
    left: -.8vw !important;
}